*{
    margin: 0px;
    border: 0px;
}
nav{
    background-color: #292b2c ;
    color: white;
    height: 70px;
    
}
#nav{
    display: inline-block;
    margin-left: 700px;
}
#nav-item{
    margin-left: 15px;
    font-size: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
}
#nav-main{
    font-size: 40px;
    color: white;
    margin-top:30px;
    margin-left: 55px;
    
}
footer{
    background-color: #292b2c ;
    color: white;
    
    
}
#footer-column{
    margin:25px 50px;
    display: inline-block;
    
}

#footer-nav{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
ul{
    list-style: none;
}
#link-footer{
    margin-top: 2px;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}
p{
    width: 800px;
    margin: 40px auto;
    font-size: 20px;
    color: orange;
    font-style: italic;
}